.App {

}
ul.categories {
    display: flex;
    flex-flow: row wrap;

    margin: 0 5vw;

    list-style-type: none;
}
li button {
    background-color: #9ec2d8;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
}

li button:hover, li button:active {
    background-color: #7aabc9;
}
